/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.jp-TopAreaText-timer{
    display: flex;
    align-items: center;
    padding: 5px;
}